     .poster_wrap{
        padding-top: 5em;
    }
        .poster_img{
            width: 100%;
            max-width: 25em;
            object-fit:cover;
            box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.8);
        }
        .poster_img:nth-child(1){
            transform: rotate(-10deg)  translateY(40px);
        }
        .poster_img:nth-child(2){
            transform: rotate(10deg) translateY(-40px);;
        }

@media screen and (max-width:1294px) {
    .poster_img{
        width: 70%;
    }
    .poster_img:nth-child(1){
        transform: translateX(25px) rotate(-10deg) translateY(5px);
    }
    .poster_img:nth-child(2){
        top: 200px;
        transform: translateX(-25px) rotate(10deg) translateY(-5px);
    }
}

@media screen and (max-width:945px) {

    .poster_wrap{
        padding-top: 2rem;
    }

    .poster_img:nth-child(1){
        transform: translateX(25px) rotate(-10deg) translateY(5px);
    }
    .poster_img:nth-child(2){
        top: 200px;
        transform: translateX(-25px) rotate(10deg) translateY(-5px);
    }
}

@media screen and (max-width:430px) {

}



