/* 섹션 영역 공통 css */

/* 섹션 전체 박스 */
.section_container{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 5rem 0;
}

.type1{
    background-color: #282828;
    color: #e7eff2;
}
.type2{
    color: #282828;
}

/* 섹션 텍스트 영역 css */
.section_wrap{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "title text""content content";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 200px auto;
    gap: 3vw 5vw;
    font-family: 'Cormorant', serif;
}
.section_title, .section_txt{
    height: auto;
    margin-bottom: 2rem;
}

    /* 섹션 타이틀 */
    .section_title{
        grid-area: title;
        text-align: left;
    }
        .section_title h1{
            font-size: 5rem;
        }
        .section_title p{
            position: relative;
            font-family: 'Open Sans', sans-serif;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 300;
            left: 0.5em;
        }
    
    /* 섹션 서브 텍스트 */
    .section_txt{
        grid-area: text;
    }
        .section_txt div:nth-child(1){
            font-family: 'Open Sans', sans-serif;
            font-size: 1.1em;
            line-height: 1.5rem;
        }
        .more{
            position: relative;
            display: flex;
            width: 170px;
            flex-flow: row nowrap;
            align-items: center;
            gap: 0.5rem;
            transform-origin: 0%;
            transition: all 300ms;
        }
        .more p{
            font-size: 1.4rem;
            font-weight: 700;
            font-family: 'Cormorant', serif;
        }

        .more:hover{
            transform: scale(1.1);
            cursor: pointer;
        }
    
    /* 섹션 본문 */
    .section_content{
        grid-area: content;
        position: relative;
        width: 90%;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }
        .section_content>div{
            position: relative;
            width: 100%;
        }


    @media screen and (max-width:945px) {

    .section_container{
        padding: 5rem 0;
    }
        .section_wrap{
            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-areas: "title" "text" "content";
            grid-template-columns: 1fr;
            grid-template-rows: 150px auto;
        }
    
        .section_title{
            grid-area: title;
            text-align: center;
        }
        .section_title p{
            left: 0em;
        }
        .section_txt{
            grid-area: text;
            text-align: center;
        }
            .more{
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                gap: 0.5rem;
                margin: 0 auto;
                transform-origin: 50%;
            }
    
        
    }

    @media screen and (max-width:430px){
        #about{
            padding: 5rem 0 0;
        }

    }