
#contact{
    background: url(../images/bg_1920.png) no-repeat;
    background-size: cover;
}

.contact_wrap{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 3vw;
    margin-bottom: 100px;
}

    .input_form{
        width: 50%;
    }

    .form_wrap li p{
        text-align: left;
        margin: 0 0 5px;
        text-transform: uppercase;
        font-size: 0.9em;

    }

    .contact_form{
        width: 100%;
        height: 2rem;
        border-radius: 10px;
        margin: 0 0 15px;
    }

    .textarea{
        width: 100%;
        border-radius: 10px;
        height: 6rem;
    }
    .c_intro_box{
        display: flex;
        flex-flow: column wrap;
        border-radius: 10px;
        justify-content: space-between;
    }
        .c_intro_box h3{
            text-align: left;
            font-size: 2rem;
            width: 100%;
            font-weight: bold;
            padding-bottom: 1rem;
            border-bottom: 2px solid orangered;
        }
        .c_intro_box p{
            text-align: left;
            font-size: 0.9rem;
            line-height: 1rem;
            letter-spacing: 0.05em;
            width: 100%;
            padding-bottom: 1rem;
        }

    .send_button{
        box-sizing: border-box;
        width: 100%;
        height: auto;
        background-color: #282828;
        color: white;
        padding: 2em 2em;
        border-radius: 10px;
        cursor: pointer;

    }

        .send_button p{
            line-height: 1.3rem;
        }
        .send_button h1{
            filter: brightness(0.4);
            text-transform: uppercase;
        }
    .send_button:hover{
        transform: translate(0, -2px);
        box-shadow: 1px 1px 5px 1px #666;
        transition: all 0.5s;

    }
    .send_button:hover p{
        filter: brightness(0.4);
        transition: all 0.5s;
    }
    .send_button:hover h1{
        filter: brightness(1);
        transition: all 0.5s;
    }

@media screen and (max-width:700px) {
    .contact_wrap{
        flex-flow: column nowrap;
    }
    #contact_title{
        word-wrap: break-word;
    }

    .c_intro_box h3{
        text-align: center;   
    }
    .c_intro_box p{
        text-align: center;
    }
}
