footer{
    width: 100%;
    height: auto;
    background-color: #282828;
    padding: 3rem;
    z-index: 3;
}
footer p{
    color: white;
}
    .footer_logo{
        width: 50px;
        margin: 0 auto 2em;
    }
    .other{
        text-transform: uppercase;
        text-align: center;
        font-size: 0.9em;
        font-weight: bold;
    }
        .snslink{
            color: white;
            display: flex;
            flex-flow: row nowrap;
            width: 230px;
            justify-content: space-between;
            margin: 0 auto 2em;
        }
        .snslink li:hover{
            transform: scale(1.2);
            transition: all 0.3s;
        }
        .snslink img{
            width: 25px;
        }
    .copyright{
        font-size: 9pt;
        letter-spacing: normal;
        font-weight: 300;
        text-align: center;
    }