/* 공통 css 영역 */
@import "reset.css";

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
    overflow-x: hidden;
}

body{
    line-height: 1;
    color: #282828;
    background-color: #e7eff2;
    letter-spacing: 0.08em;
    overflow-x: hidden;
}

body[data-pageid=about]::before{
    content: "";
    position: fixed;
    top: 116px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    width: 642px;
    height: 219px;
    background: url(../images/bg_txt01.png) no-repeat center/cover;
}

img{
    height: auto;
    max-width: 100%;
    width: 100%;
    transform: translateZ(0);
    overflow: clip;
    overflow-clip-margin: content-box;
}
h1{
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Cormorant', serif;

}
p{
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Open Sans', sans-serif;

}



/* PC 화면 시작 */
/* 헤더 시작 */
    header{
        position: fixed;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(30px);
        z-index: 2;
    }
        .menu_item, .contact_item{
            position: relative;
            float: left;
            padding: 0 10px;
        }
        .menu_item{
            font-family: 'Cormorant', serif;
            font-weight: 900;
            font-size: 1rem;
        }
        .menu_item a{
            text-decoration: none;
            color: #282828;
        }
        .menu_item a:hover{
            border-bottom: 2px solid orangered;
            cursor: pointer;
        }
        .contact_item:hover{
            filter: brightness(4);
            transition: 0.5s;
            cursor: pointer;
        }

    /* 메인 시작 */
    main{
        width: 100%;
        position: absolute;
        z-index: 1;
    }
        /* home 시작 */
        .home{
            position: relative;
            top: 100px;
            width: 100%;
            background: url(../images/bg_1920.png) no-repeat;
            background-size: cover;
            padding-bottom: 100px;
        }
            /* 메인 타이틀 문구 */
            .home_title{
                position: relative;
                clear: both;
                text-align: center;
                font-family: 'Cormorant', serif;
                font-size: 5rem;
                letter-spacing: 0.08rem;
                line-height: 1.3em;
            }
                .home_title>span{
                    color: orangered;
                }

            /* 스크롤 애니메이션 */
            .home_scroll{
                position: relative;
                left: 50%;
                width: 1px;
                height: 64px;
                margin-top: 40px;
                overflow: hidden;
            }
            .home_scroll>div{
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 64px;
                background: no-repeat 0 100%/100% 200%;
                background-image: linear-gradient(-180deg, #13090b, #13090b 50%, transparent 50%, transparent);
                animation: scroll-nav 3s cubic-bezier(0.22, 1, 0.36, 1) 0s infinite normal backwards;
            }
                @keyframes scroll-nav{
                    0%{background-position: 0 100%;}
                    50%{background-position: 0 0;}
                    100%{background-position: 0 -100%;}
                }
            
            /* 서브 문구 */
            .home_sub{
                position: relative;
                clear: both;
                text-align: center;
                font-family: 'Cormorant', serif;
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 1.8rem;
                margin-top: 60px;
            }



@media all and (max-width: 874px) {

    body[data-pageid=about]::before{
        top: 17.4666666667vw;
        width: 86.6666666667vw;
        height: 29.6vw;
    }

            .home_sub{
                width: 80%;
                margin: 40px auto 0;
                font-size: 1.4rem;
                line-height: 1.8rem;
            }
}


@media all and (max-width: 693px) {
    .header_wrap{
        display: none;
    }
    
    .home_title{
        font-size: 2.5rem;
    }
}