/* 스킬 태그 css 시작 */
.m_skill_wrap{
    display: none;
}

.skill_tag{
    display: grid;
    grid-template-areas: "coding design etc";
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto;
    gap: 2vw;
    padding: 2vw 0;
    text-align: center;
}

    .skill_tag li:first-child{
        grid-area: coding;
    }
    .skill_tag li:nth-child(2){
        grid-area: design;
    }
    .skill_tag li:last-child{
        grid-area: etc;
    }


/* 아이콘 박스 css 시작 */
.skill_box{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 2fr;
    grid-template-areas: "coding design etc";
    gap: 2vw;
    width: 100%;
}

    .icon_each{
        position: relative;
    }

    /* 개별 스킬 박스 css */
        .skill1, .skill2{
            background-color: white;
            border-radius: 30px;
            height: auto;
            display: grid;
            grid-template-areas: "a b""c d";
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            gap: 1em;
            padding: 2vw;
        }

        .skill1 .icon_each:first-child{
            grid-area: a;
        }
        .skill1 .icon_each:nth-child(2){
            grid-area: b;
        }
        .skill1 .icon_each:nth-child(2){
            grid-area: c;
        }
        .skill1 .icon_each:last-child{
            grid-area: d;
        }

    /* 3번째 스킬박스 css */
        .skill3{
            background-color: white;
            border-radius: 30px;
            height: auto;
            display: grid;
            grid-template-areas: "e""f";
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2,1fr);
            gap: 1em;
            padding: 2vw;
        }

        .skill3 .icon_each:first-child{
            grid-area: e;
        }
        .skill3 .icon_each:last-child{
            grid-area: f;
        }
            /* img, p css */
            .skill1 img, .skill2 img, .skill3 img{
                height: 100%;
                border-radius: 20px;
            }

    /* hover를 위한 css */

        .icon_text{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            border-radius: 20px;
            text-transform: uppercase;
            background-color: rgba(255, 69, 0, 0.9);
            opacity: 0;
            cursor: default;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .icon_text:hover{
            opacity: 1;
            transition: all 300ms;
        }


/*
@media all and (max-width: 874px) {
    .skill1, .skill2, .skill3{
        height: 50vw;
    } 
    .icon_text{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        border-radius: 10px;
        background-color: orangered;
        opacity: 0;
        cursor: default;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  
}
*/
@media all and (max-width: 430px) {
    
    .skill_box{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "coding" "design" "etc";
    }
    .skill1, .skill2, .skill3{
        background-color: white;
        border-radius: 30px;
        height: 38vw;
        display: grid;
        grid-template-areas: "tag""icon";
        grid-template-columns: 1fr;
        grid-template-rows: 25% 75%;
        padding: 2vw;
        color: #282828;
    }
    
    .skill1, .skill2{
        height: 25rem;
    }


    .skill3{
        height: 18rem;
    }

    .skill3>.skill_icon{
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

}